[system]
shell: bash
editor: vim
headless: True
java: False

[astro]
saods9: True
iraf: False
casa: False
hipe: False
yt: False

[python-gen]
numpy: True
scipy: True
matplotlib: True
pandas: True
numexpr: True
mayavi: False

[python-astro]
astropy: True
astroquery: True
aplpy: True
idlsave: False
pyraf: False
stscipython: False
